body {
}

.HomebannerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   
}

.UpperTextContainer p {
    font-size: 140px;
    text-shadow: 5px -1px 0 lightgrey;
}

.LowerTextContainer p {
    font-size: 80px;
    text-shadow: 5px -1px 0 lightgrey;
    margin-top: -180px
}


.ImageHBContainer {
    height: 300px;
    height: 500px;
}
.ImageHBContainer img{
    width: 980px;
    height: 600px;
    position: relative;
    bottom: 210px;
    right: 50px;
}

.image-3d-container {
    perspective: 1000px; /* Adjust this value for more/less pronounced 3D effect */
    width: 200px; /* Adjust the container size as needed */
    height: 200px; /* Adjust the container size as needed */
}


