body {

}

.NavContainer{
    display: flex;
    justify-content: space-around;
    margin-right: 90px;
}


.LinkContainer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap:80px;
    margin-bottom: 20px
}

.LinkContainer a {
    color: #000;
    font-size: 20px;
    text-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}


    .ImgContainer1 {
      align-self:center;
    
    }
    .ImgContainer1 img {
        width:200px
       
    }


    .ImgContainer2 {
        align-self: center;
       margin-bottom:20px;
    }

.ImgContainer2 img {
    width:60px;
    height:60px; 
}
