body {
}

.ShoeDetailsContainer {
    display: flex;
    padding: 0 10%;
    margin-bottom: 10%;
}
.ShoeDetailsNameContainer p{
    font-size: 90px;
}

.ShoeDetailsNameContainer:nth-child(1) {
    text-align: center;
}



.ShoeDetailsImageContainer img {
    width: 800px;
    height: 705px;
    transform: rotate(-20deg);
    margin-top: -220px;
 
}

.ShoeDetailsInfoContainer p {
    font-size: 30px;
    text-align: center;
}

.ShoeDetailsButtonContainer {
    display: flex;
    gap: 5%;
    margin-top: 2%;
}

.ShoeDetailsButtonContainer input{
    width: 180px;
}

.ShoeDetailsButtonContainer input:nth-child(2) {
        background-color: #fff;
        color: #000;
}


