body {
}

.SignupContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items:center;
}

.SignupImageContainer img{
    width: 700px;
    height: 500px;
}

.SignupInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 5%;
}

.SignupInputContainer input {
    width: 620px;
    height: 80px;
    border-radius: 30px;
    border: none;
    margin-bottom: 10%;
}

.SignupInputContainer label {
    font-size: 24px;
}

.SignupButtonContainer {
    padding: .5% .5%;
    width: 500px;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.SignupButtonContainer input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    font-size: 40px;
}

.SignupInputContainer input:last-of-type {
    width: 500px;
    align-self: center;

}

.buttonClicked {
    background-color: #fff;
    color: #000;
}

.buttonNotClicked {
    background-color: #000;
    color: #fff;
}

.buttonSign{
    font-size: 30px;
    width: 100px;
}